article#root
script src="/js/writer.min.js"
script src="/js/codemirror.js"
script src="/js/display/placeholder.js"
script src="/js/lint/lint.js"
script src="/js/mode/css/css.js"
script src="/js/mode/htmlmixed/htmlmixed.js"
script src="/js/mode/javascript/javascript.js"
script src="/js/mode/slim/slim.js"
script src="/js/mode/ruby/ruby.js"
script src="/js/mode/xml/xml.js"
